.text{
    font-size: 22px;
}
.texte{
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   top: 20px;
}
.texts{
    font-size: 30px;
    font-family: monospace;
  
}
.textess{
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.texter{
  margin-top: 70px;
}
.lign{
    text-decoration:underline white;
}
.down{
    margin-top:50px;
}
.textes{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}
.center{
    width: 100%;
    height: 300px;
    background: url(/images/enfant.png) no-repeat ;
    animation: animate 15s infinite; 
}
@keyframes animate{
    0%{background-position: 
        0% 50%;}
        0%{background-position: 
            50% 0%;}
            0%{background-position: 
                0% 50%;}
}
.cente{
    width: 100%;
    height: 300px;
    background: url(/images/famille.png) no-repeat ;
    animation: animate 30s infinite; 
}
@keyframes animate{
    0%{background-position: 
        0% 50%;}
        0%{background-position: 
            50% 0%;}
            0%{background-position: 
                0% 50%;}
}
.middle{
    height: 580px;
    margin-top: 200px;
}
.bottom{
    margin-top: 200px;
}
.bottome{
    margin-top: 200px;
    height: 250px;
    background-color: rgb(94, 87, 74);
}
.ulist{
   list-style: none;
    margin-top: 70px;
}
#search{
    padding: 5px;
    border-bottom:1px solid white;
    outline:none;
    width: 320px;
    padding-left: 20px;
    background:url('/images/enveloppe.PNG') right no-repeat;
    transition: width 2s;
    -webkit-transition: width 2s;
    -moz-transition: width 2s;
    -o-transition: width 2s;
    -ms-transition: width 2s;
    border-top: none;
    border-left: none;
    border-right: none;
}
#search:focus{
    width: 200px;
}
#search_1{
    padding: 7px;
    width: 240px;
    padding-left: 15px;
    background:url('/images/loupe.png') right no-repeat white;
}
input{
    margin: 20px;
    font-size: 18px;
    margin: 5px 0;
    color: white;
}
.bot{
    border-radius: 6px;
    height: 30px;
    width: 10%;
}
.icone{
    width: 40%;
    height: 40px;
}
.image img{
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease; 
        -ms-transition: all 1s ease; 
        -o-transition: all 1s ease;
        transition: all 1s ease;
}
.image:hover img {
    -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
 }
.marge{
    margin-top: 80px;
}
.goto{
    margin-bottom: 45px;
}
.reveal{
    opacity: O;
    transform: translateY(-30px);
}
.reveal-visible{
    opacity: 1;
    transform: translateY(0);
    transition: .3s;
}